/* Vai armazenar todas as variáveis "padrões" do projeto (cores, tamanhos...) */
:root {
  /* tons de cinza */
  --gray-100: #e6e9f0;
  --gray-200: #cdd3e1;
  --gray-300: #aab3cc;
  --gray-400: #555f7d;
  --gray-500: #454f6a;
  --gray-600: #363d56;
  --gray-700: #272f43;
  --gray-800: #181f2e;
  --gray-900: #0a0f1a;

  /* cores primárias (tema claro e escuro) */
  --primary-light: #4de7b7;
  --primary: #0da170;
  --primary-dark: #065f46;

  /* cor dos links */
  --link-color: #10b981;
  --link-hover: #0b8a60; /* quando o ponteiro do mouse está sobre o link */

  /* cores dos avisos (pop-up) */
  --success: #22c55e;
  --warning: #eab308;
  --error: #991b1b;
  --info: #0ea5e9;

  /* cores para os textos (modo claro e escuro) */
  --text-over-primary: #0a0f1a;
  --text-over-primary-dark: #e6e9f0;
  --text-over-primary-light: #0a0f1a;

  /* cores para os textos dos avisos (pop-up) */
  --text-over-success: #0a0f1a;
  --text-over-warning: #0a0f1a;
  --text-over-error: #e6e9f0;
  --text-over-info: #0a0f1a;

  --text-default: #e6e9f0; /* cor padrão */
  --text-muted: #aab3cc; /* cor para informações secundárias (mais atenuada) */

  /* elementos desabilitados */
  --disabled: #555f7d;
  --text-disabled: #aab3cc;
}
